
img {
    height: 200px;
    margin: 10px;
    border: double;
}
button {
    margin: 8px 5px 5px 0px;

}
.btn-danger, .btn-light {
    color: rgb(203, 116, 88);
    background-color: rgb(125, 34, 97);
    border-color: rgb(97, 22, 75);
}
#inputNewChar {
    width: 100%;
    background-color: rgb(235, 59, 0);
    color: rgb(226, 164, 0);
    border-color: rgb(203, 116, 88);
}
body {
    
    color: rgb(97, 22, 75);
    background-image: url("../images/full-bloom.png"); 
    background-repeat: repeat;
    background-color: rgb(226, 164, 0);
    /* background: linear-gradient(to bottom left, rgb(226, 164, 0), rgb(228, 106,0) 90%); */
    background-blend-mode: multiply;
    
}
figure {
    display: inline-block;
}
figcaption {
    text-align: center;
    
}

#logo {
    border: none;
}
