
img {
    height: 200px;
    margin: 10px;
    border: double;
}
button {
    margin: 8px 5px 5px 0px;
}
.btn-danger, .btn-light {
    color: rgb(232, 181, 112);
    background-color: rgb(176, 65, 104);
    border-color: rgb(207, 217, 166);
}
.btn-danger:hover {
background-color: rgb(75, 100, 161);
}
#inputNewChar {
    width: 100%;
    background-color: rgb(205, 138, 76);
    color: rgb(75, 100, 161);
    border-color: rgb(75, 100, 161);
}
body {
    
    color: rgb(97, 22, 75);
    background-image: url("../images/full-bloom.png"); 
    background-repeat: repeat;
    background-color: rgb(236, 203, 101);
    background-blend-mode: multiply;
    
}
figure {
    display: inline-block;
}
figcaption {
    text-align: center;
    
}

#logo {
    border: none;
}
@media screen and (max-width: 640px) {
    img {
        width: 93%;
        height: auto;
        /* margin: 10px;
        border: double; */
    }
    button {
        margin: 1px;
    }
    body {
    
        color: rgb(97, 22, 75);
        background-image: url(" "); 
        background-repeat: repeat;
        background-color: rgb(236, 203, 101);
        /* background-blend-mode: multiply; */
        
    }
}