/* img {
    height: 200px;
    margin: 10px;
}
button {
    margin: 5px 5px 5px 0px;

}
.btn-dark {
    color: rgb(188, 191, 164);
    background-color: rgb(54, 109, 115);
    border-color: rgb(1, 46, 64);
}
#inputNewChar {
    width: 100%;
    background-color: rgb(242, 230, 194);
    color: rgb(54, 109, 115);
    border-color: rgb(54, 109, 115);
}
body {
    background-color: rgb(90, 140, 140);
    color: rgb(1, 46, 64);
} */
img {
    height: 200px;
    margin: 10px;
}
button {
    margin: 5px 5px 5px 0px;

}
.btn-danger, .btn-light {
    color: rgb(203, 116, 88);
    background-color: rgb(125, 34, 97);
    border-color: rgb(97, 22, 75);
}
#inputNewChar {
    width: 100%;
    background-color: rgb(235, 59, 0);
    color: rgb(226, 164, 0);
    border-color: rgb(203, 116, 88);
}
body {
    background-color: rgb(226, 164, 0);
    color: rgb(97, 22, 75);
}
figure {
    display: inline-block;
}
figcaption {
    text-align: center;
    
}

